* { 
	margin:0;
	padding:0;
	border:0; 
}
body {
	text-align:center;
	font-family:"Open Sans","Calibri",sans-serif;
	background:#eee;
}
h1 {
	margin-bottom:16px;
}
p {
	margin-bottom:12px;
}
ul {
	margin-bottom:12px;
	list-style-type:none;
}